@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes rotateBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes rotateBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

.animateBar1 {
  animation: rotateBar1 0.5s forwards;
}

.animateBar2 {
  animation: fadeBar2 0.5s forwards;
}

.animateBar3 {
  animation: rotateBar3 0.5s forwards;
}
