@media only screen and (max-width: 1100px) {
  .project-grid {
    grid-template-areas:
      "eth eth"
      "alphabet traveler"
      "cube astro"
      "insta insta"
      "cup foam"
      "dimensional dimensional";
  }
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    /* Creating a sticky nav-bar */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;

    padding: 16px 24px;
    width: 100%;
    /* I want this box to include the padding in the 100%, so I am using a border-box model*/
    box-sizing: border-box;
  }

  .project-grid {
    margin-top: 100px;
  }

  .navbar .right {
    display: none;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-grid {
    grid-template-areas:
      "eth eth"
      "alphabet alphabet"
      "traveler traveler"
      "cube astro"
      "insta insta"
      "cup cup"
      "foam foam"
      "dimensional dimensional";
  }
  .project .overlay {
    font-size: 24px;
  }

  .footer {
    padding: 32px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 464px) {
  .project-grid {
    grid-template-areas:
      "eth eth"
      "alphabet alphabet"
      "traveler traveler"
      "cube cube"
      "astro astro"
      "insta insta"
      "cup cup"
      "foam foam"
      "dimensional dimensional";
  }

  .footer {
    font-size: 12px;
  }
}
